<div class="row clearfix" >
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="fleet in fleetMain">
        <div ng-init="idvalue=fleet.vehicleId" ng-click="fleetSelected(idvalue)">
            <div class="info-box  hover-expand-effect">
                <div class="icon ">
                    <i class="material-icons">directions_car</i>
                </div>
                <div class="content">
                    <div class="texto">
                        Marca : {{fleet.brand}}

                    </div>
                    <div class="text" >
                        Modelo : {{fleet.model}}<br>
                        Placa :{{fleet.vehicleId}}
                        Capacidad: {{fleet.capacity}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="infoLoader" class="loader">
    <div class="md-preloader pl-size-xl">
        <svg viewbox="0 0 75 75">
            <circle cx="37.5" cy="37.5" r="33.5" class="pl-indigo" stroke-width="4" />
        </svg>
    </div>
</div>


