
<!-- Basic Card -->

<div class="row clearfix" >
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12" ng-repeat="user in users" >
        <div class="card " >
            <div class="header">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../assets/images/user.png" alt="logo" width="50" height="50" class="responsive-img" >
                    </div>

                    <h2 class="col-sm-8">
                        Nombre: {{user.name}} <small>Description text here...</small>
                    </h2>

                </div>

                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-click="removeUser(user.id)">Eliminar</a></li>
                            <li><a href="#/admin/user/edit/{{user.id}}">Editar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <ul class="list">
                    <li class="card-title">
                        {{user.email}}
                    </li>
                    <li class="card-title">
                        {{user.type}}
                    </li>
                    <li class="card-title">
                        {{user.address}}
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


