<div class="row clearfix" >
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="reservation in reservationsMain">
        <div ng-init="idvalue=reservation.reservationId" ng-click="reserveSelected(idvalue)">
            <div class="info-box  hover-expand-effect">
                <div class="icon ">
                    <i class="material-icons">{{reservationstatus}}</i>
                </div>
                <div class="content">
                    <div class="texto placeReserve">
                        Lugar : {{reservation.destinationPlace}}
                    </div>
                    <div class="text">


                        Solicitante :{{reservation.requestingUser}}
                        <div alling="right">
                            {{reservation.requestDateTime}}
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
    <div id="noReservesAvailable" class="material-icons">description</div>
    <span id="noReservesAvailableTxt">{{noReservationsText}}</span>
    <div id="actBtns"></div>
</div>
<div id="infoLoader" class="loader">
    <div class="md-preloader pl-size-xl">
        <svg viewbox="0 0 75 75">
            <circle cx="37.5" cy="37.5" r="33.5" class="pl-indigo" stroke-width="4" />
        </svg>
    </div>
</div>