<table class="table table-bordered">
    <thead>
    <tr>
        <th>Solicitante: {{reserve.requestingUser}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Placa</td>
        <td>{{reserve.vehicleId}}</td>
    </tr>
    <tr>
        <td>Chofer</td>
        <td>{{reserve.assignedDriver}}</td>
    </tr>
    <tr>
        <td>Lugar</td>
        <td>{{reserve.destinationPlace}}</td>
    </tr>
    <tr>
        <td>Hora de salida</td>
        <td>{{reserve.departure}}</td>
    </tr>
    <tr>
        <td>Hora de llegada</td>
        <td>{{reserve.arrival}}</td>
    </tr>
    <tr>
        <td>Fecha de salida</td>
        <td>{{reserve.departure}}</td>
    </tr>
    <tr>
        <td>Fecha de llegada</td>
        <td>{{reserve.arrival}}</td>
    </tr>
    <tr>
        <td>Numero de pasajeros</td>
        <td>{{reserve.passengers}}</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>{{reserve.reservationStatus}}</td>
    </tr>
    </tbody>
</table>
<a class="waves-effect waves-light btn" ng-click="reserveAction(1)">Aceptar</a>
<a class="waves-effect waves-light btn" ng-click="reserveAction(2)">Denegar</a>
<a class="waves-effect waves-light btn" href="#/admin/reserves/">Atras</a>