
<div class="center col-xs-12 col-sm-12 col-md-10 col-md-offset-1  col-lg-10 col-lg-offset-1">
    <div class="card">
        <div class=" header">
            <h2>Detalles de la reserva</h2>
            <div class="header-dropdown m-r--5 ">
                <a class="btn-floating btn-sm " href="#/admin/reserves/"><i class="material-icons" style="cursor:pointer; color: white">arrow_back</i></a>
            </div>
        </div>
        <div class="body">
            <div class="table-responsive">

                <table class="table table-hover dashboard-task-infos">
                    <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Información</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Solicitante</td>
                        <td>{{reserve.requestingUser}}</td>
                    </tr>
                    <tr>
                        <td>Placa</td>
                        <td>{{reserve.vehicleId}}</td>
                    </tr>
                    <tr>
                        <td>Chofer</td>
                        <td>{{reserve.assignedDriver}}</td>
                    </tr>
                    <tr>
                        <td>Lugar</td>
                        <td>{{reserve.destinationPlace}}</td>
                    </tr>
                    <tr>
                        <td>Hora de salida</td>
                        <td>{{reserve.departure}}</td>
                    </tr>
                    <tr>
                        <td>Hora de llegada</td>
                        <td>{{reserve.arrival}}</td>
                    </tr>
                    <tr>
                        <td>Fecha de salida</td>
                        <td>{{reserve.departure}}</td>
                    </tr>
                    <tr>
                        <td>Fecha de llegada</td>
                        <td>{{reserve.arrival}}</td>
                    </tr>
                    <tr>
                        <td>Pasajeros</td>
                        <td>{{reserve.passengers}}</td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>{{reserve.reservationStatus}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div><a class="btn btn-success waves-effect" style="left: 10%; bottom: 18px" ng-click="reserveAction(true)">Aceptar</a>
        <a class="btn bg-red waves-effect" style="left: 20%; bottom: 18px" ng-click="reserveAction(false)">Denegar</a></div>
    </div>

    <button type="button" class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:2%; right: 2%" ng-click="createTicket()">
        <i class="material-icons">description</i>
    </button>
</div>
