<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2 class="tecTitles">
                        Reservar Transporte
                    </h2>
                </div>
                <div class="body">
                    <form >
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label >Hora de Salida</label>
                                <input id="departureHour" ng-model="departureHour" type="time"  class="form-control" placeholder="">

                            </div>
                            <div class="col-sm-6">
                                <label >Hora de Llegada</label>
                                <input id="arrivalHour" ng-model="arrivalHour" type="time"  class="form-control" placeholder="">

                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label >Fecha de Salida</label>
                                <input id="departureDate" ng-model="departureDate" type="date" class="form-control" placeholder="">

                            </div>
                            <div class="col-sm-6">
                                <label >Fecha de Llegada</label>
                                <input  id="arrivalDate" ng-model="arrivalDate"  type="date" class="form-control" placeholder="">

                            </div>
                        </div>
                        <button class="btn btn-danger waves-effect"  id="btnCheck" data-type="success">Comprobar</button>
                    </form>
                    <form>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label >Auto</label><i id="carInfoBtn" class="material-icons reservationCarInfo" data-toggle="modal" data-target="#defaultModalCarInfo" ng-click="carInfoDetails()">info_outline</i>
                                <select class="form-control show-tick" ng-model="reservation.vehicleId" ng-change="enableCarInfoBtn()">
                                    <option ng-repeat="fleet in fleets" value="{{fleet}}">
                                        {{fleet}}
                                    </option>

                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label >Chofer</label>
                                <select class="form-control show-tick" ng-model="reservation.requestDriver">
                                    <option value="true">SI</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label for="place">Encargado</label>
                                <div class="form-line">
                                    <input ng-model="reservation.responsable" type="text" id="responsable" class="form-control" placeholder="Persona a cargo "/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="place">Telefono del Encargado</label>
                                <div class="form-line">
                                    <input ng-model="reservation.responsableTelephone" type="text" id="responsableTelephone" class="form-control" placeholder="Telefono de Persona a cargo "/>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label for="place">Tipo Actividad</label>
                                <select class="form-control show-tick" ng-model="reservation.activityType" >
                                    <option value="Academic">
                                        Académico
                                    </option>
                                    <option value="Administrative">
                                        Administrativo
                                    </option>
                                    <option value="Generic">
                                        Generica
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="place">Centro Funcional</label>
                                <div class="form-line">
                                    <input ng-model="reservation.functionalCenter" type="text" id="functionalCenter" class="form-control" placeholder="Centro Funcional">
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label for="place">Provincia</label>
                                <select id="provinceSetect" ng-change="changeP()" class="form-control show-tick" ng-model="provinceSelected.PID" >
                                    <option ng-repeat="province in provincesCR" value="{{province.ID}}">
                                        {{province.Name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="place">Cantón</label>
                                <select id="citiesSetect" ng-change="changeC()" class="form-control show-tick" ng-model="citySelected.CID" >
                                    <option ng-repeat="city in citiesCR | filter:provinceSelected" value="{{city.ID}}">
                                        {{city.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label for="place">Distrito</label>
                                <select id="disctrictSetect" class="form-control show-tick" ng-model="districtSelected" >
                                    <option ng-repeat="district in districtsCR | filter:citySelected" value="{{district.ID}}">
                                        {{district.Name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="place">Otras señas</label>
                                <div class="form-line">
                                    <input ng-model="additionalInfo" type="text" id="place" class="form-control" placeholder="Otras señas"/>
                                </div>
                            </div>
                        </div>
                        <label for="place">Justificación</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="reservation.justification" type="text" id="justification" class="form-control" placeholder="Justificación"/>
                            </div>
                        </div>

                        <br>
                        <label for="place" style="display: block; text-align: center">Información de Pasajeros</label>
                        <label for="place">Identificación</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="usuariosD.identification" type="text" id="identificationE" class="form-control" placeholder="Identificación"/>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label for="place">Nombre Completo</label>
                                <div class="form-line">
                                    <input ng-model="usuariosD.firstName" type="text" id="firstNameE" class="form-control" placeholder="Escriba el Primer Nombre"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="place">Apellidos</label>
                                <div class="form-line">
                                    <input ng-model="usuariosD.lastName" type="text" id="lastNameE" class="form-control" placeholder="Escriba los Apellidos"/>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label for="place">Punto de encuentro</label>
                                <div class="form-line">
                                    <input ng-model="usuariosD.placeToCollect" type="text" id="placeToCollectE" class="form-control" placeholder="Escriba el Punto de encuentro"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="place">Lugar donde sera dejado</label>
                                <div class="form-line">
                                    <input ng-model="usuariosD.placeToLeave" type="text" id="placeToLeaveE" class="form-control" placeholder="Escriba el Lugar donde vive"/>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <label >Hora de Salida</label>
                                <input id="departureHourE" ng-model="departureTimePassager" type="time"  class="form-control" placeholder=""/>
                            </div>
                            <div class="col-sm-6">
                                <label >Hora de Llegada</label>
                                <input id="arrivalHourE" ng-model="returnTimePassager" type="time"  class="form-control" placeholder=""/>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-danger m-t-18 waves-effect" ng-click="agregarPasajero()">Agregar Usuarios</button>
                            </div>
                            <div class="col-sm-6">
                                <button id="btnPassajers" type="button" class="btn bg-red waves-effect" style="float: right" data-toggle="modal" data-target="#defaultModal">Lista Pasajeros</button>
                            </div>
                        </div>
                        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="display: none;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="defaultModalLabel">Lista de pasajeros</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div ng-repeat="passager in members">
                                            <button class="btn bg-cyan waves-effect m-b-15" type="button" data-toggle="collapse" data-target="#{{ $index }}" aria-expanded="false" aria-controls="collapseExample">
                                                {{passager.firstName}} {{passager.lastName}}
                                            </button>
                                            <a class="btn-floating btn-sm "><i class="material-icons" style="cursor:pointer; float: right" ng-click="eliminarPasajero($index)">delete</i></a>
                                            <div class="collapse in" id="{{ $index }}" aria-expanded="false">
                                                <div class="well">
                                                    Identificacion: {{passager.identification}}<br>
                                                    Nombre: {{passager.firstName}} {{passager.lastName}}<br>
                                                    Lugar donde se recogera: {{passager.placeToCollect}}<br>
                                                    Lugar donde se dejara: {{passager.placeToLeave}}
                                                </div>
                                            </div>
                                            <br>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Atras</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="defaultModalCarInfo" tabindex="-1" role="dialog" style="display: none;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="defaultModalLabelCarInfo">Detalles del vehiculo</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="body">
                                            <div class="table-responsive">
                                                <table class="table table-hover dashboard-task-infos">
                                                    <thead>
                                                    <img id="img" src="" align="center" width="250" height="200" class="imgInfoDisplay">
                                                    <tr>
                                                        <th>Dato</th>
                                                        <th>Información</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Marca</td>
                                                        <td>{{carInfo.brand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Modelo</td>
                                                        <td>{{carInfo.model}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Placa</td>
                                                        <td>{{carInfo.vehicleId}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Transmision</td>
                                                        <td>{{carInfo.traction}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Capacidad</td>
                                                        <td>{{carInfo.capacity}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kilometraje</td>
                                                        <td>{{carInfo.mileage}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dependencia</td>
                                                        <td>{{carInfo.dependence}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Atras</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" style="display: block; margin: auto" class="btn bg-deep-orange m-t-18 waves-effect" ng-click="postReservation()">Reservar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Vertical Layout -->



</div>