
div.centraTabla table {

	margin: 0 auto;
	text-align: center;
	
}
aside.margenesTablas table{
	width: 970px;
	height: 100px;
}
article.margenesTabla table{
	width: 970px;
	height: 100px;
}
nav.margenesTabla table{
	width: 970px;
	height: 100px;
}
footer.margenesTabla table{
	width: 970px;
	height: 100px;
}
div.inpTabla input{
	text-align: center;
	width: 78px;
	height: 25px;
}
#smallTicket{
	display: none;
}
#ticketMain{
	width: inherit;
}
.hideInfo{
	display: block;
}

.ShowInfo{
	display: none;
}
#ShowBtnEditSave{
	display: none;
}
#ShowBtnEditCancel{
	display: none;
	float: right;
	bottom: 30px;
}
#tablita td{
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
}