div.centraTabla table {
	margin: 0 auto;
	text-align: right;
}
/*Informacion general*/
aside.margenesTablas table{
	width: 970px;
	height: 100px;
}
article.margenesTabla table{
	width: 970px;
	height: 100px;
}
nav.margenesTabla table{
	width: 970px;
	height: 100px;
}
div h5{
	text-align: center;
}
div h4{
	text-align: center;
}
footer.margenesTabla table{
	width: 970px;
	height: 100px;
}
div.inpTabla input{
	text-align: center;
	width: 78px;
	height: 25px;
}
#smallTicket{
	display: none;
}
#ticketMain{
	width: inherit;
}
.hideInfo{
	display: block;
}
.texto{
	margin-top: 5px;
	color: black;
}
.ShowInfo{
	display: none;
}
#ShowBtnEditSave{
	display: none;
	left: 20%;
}
#ShowBtnEditCancel {
	display: none;
	float: right;
	right: 25%;
	bottom: 30px;
}
#reservarFleet{
	display: none;
	float: left;
	left: 25%;
	bottom: 30px;
}
.tablita th{
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
}
.tab th{
	padding-left: 10px;
	padding-right: 10px;
}
.btn-messages-delete{
	float:right;
	vertical-align: top;
}
@media (max-width: 800px) {
	.btn-messages-delete{
		float:right;
		vertical-align: top;
		width: 10%;
		height: 30%;
	}
}
#noReservesAvailable{
	font-size: 200px;
	display:none;
	justify-content: center;
	margin-top: 6%;
}
#noReservesAvailableTxt{
	font-size: 20px;
	display:none;
	justify-content: center;
}
#imgAddIcon{
	font-size: 140px;
	display:block;
	margin-bottom: 7%;
	margin-top: 3%
}
.imgPreviewS{
	display: none;
}
#imgShowIcon{
	font-size: 140px;
	display:block;
	text-align: center;
}
.imgInputS{
	margin-top: 4%;
}
.imgInputSEdit{
	margin: auto;
	margin-top: 4%;
	margin-bottom: 2%;
}
.imgInfoDisplay{
	display: block;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}
.imgInfoDisplayEdit{
	display: none;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}
.imgInfoDisplayDriver{
	display: none;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}
.atrasStyle{
	position: absolute;
	top: 17px;
	left: 15px;
	list-style: none;
}
.tituloStyle{
	padding-left: 30px;
}
.reservationCarInfo{
	float: right;
	font-size: 20px;
	cursor: pointer;
	color: #110ba7;
	display: none;
}
.placeReserve{
	white-space: nowrap;
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.agua{
	background: url("../images/agua.png") 0 0 no-repeat;
	background-color: white;
	background-position: center;
	background-size: 1050px 910px;
}
.aguaP{
    width: 1050px;
    height: 910px;
    position: absolute;
	top:19%;
	right: 2%;
	opacity: 0.3;
}
@media print {
	.aguaP{
		width: 1050px;
		height: 910px;
		position: absolute;
		top:11%;
		right: 2%;
		opacity: 0.3;
	}
}
#infoLoader{
	text-align: center;
	margin-top: 18%;
}