form{
    width: 50%;
    margin: 0 auto;
}

#LoginDiv{
    width: 40%;
    height: 60%;
    margin: 0 auto;
    background-color:white;
    border-radius: 2px;
    border-color:#140e39 ;
    border-style: solid;
    margin-top: 8em;
}
#loginLoader{
    display: none;
    margin-top: 20%;
    margin-bottom: 20%;
}
.btn-login{
    margin-bottom: 10%;
}
@media (max-width: 800px) {
    #LoginDiv{
        width: 90%;
        height: 60%;
    }
    form{
        width: 90%;
        margin: 0 auto;
    }
    .btn-login{
        margin-bottom: 20%;
    }

}

#loginBody{
    background-color: #ffffff;
}