<div class="container-fluid">

    <!-- Widgets -->

    <!-- New message -->
    <div class="modal fade modal-margin" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content"  >
                <div class="modal-header bagTecBlue">
                    <h4 class=" whiteText" id="defaultModalLabel">Redactar mensaje</h4>
                </div>
                <div class="modal-body" >
                    <label for="titleMessage">Titulo</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input ng-model="message.title" type="text" id="titleMessage" class="form-control" placeholder="Titulo" required/>
                        </div>
                    </div>
                    <label for="bodyMessage">Mensaje</label>
                        <div class="form-group">
                        <div class="form-line">
                            <input ng-model="message.body" type="text" id="bodyMessage" class="form-control" placeholder="Digite su mensaje" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" ng-click="postMessage()">Enviar</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" ng-click="resetFields()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="defaultModalAbout" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="body">
                        <div class="well" style="text-align:center;">
                            <div  style="float: right; right: 4%" class="container-fluid">
                                <a style="margin-bottom: 0px"  class="navbar-brand">
                                    <img src="../assets/images/comunidad.png" width="80px" height="80px">
                                </a>
                            </div>
                            <div>
                                <a style="margin-bottom: 0px"  class="navbar-brand">
                                    <img src="../assets/images/transportec_logo.png" width="80px" height="80px">
                                </a>
                            </div>
                            <div style="margin-top: 100px">
                                <b>Comunidad de Aplicaciones Móviles</b><br>
                                _______________________________________<br>
                                <b>Desarrolladores</b><br><br>
                                Adrián Hernández Soto<br>
                                Estudiante Ingenería en Computación<br>
                                adrianhernandezsoto94@outlook.com<br>
                                _______________________________________<br>
                                Erwin Salas Mejías<br>
                                Estudiante Ingenería en Computación<br>
                                erwinsalas42@gmail.com<br>
                                _______________________________________<br>
                                Miguel Adán Rivas Méndez<br>
                                Estudiante Ingenería en Computación<br>
                                migueladanrm@outlook.com<br>
                                _______________________________________<br>
                                Luis Alejandro Rodríguez Chavarría<br>
                                Estudiante Ingenería en Computación<br>
                                arodriguezchavaria@gmail.com<br>
                                _______________________________________<br>
                                José Carlo Hidalgo Chacón<br>
                                Estudiante Ingenería en Computación<br>
                                hidalgochjc@gmail.com<br>
                                _______________________________________<br>
                                Jafeth Vásquez Herrera<br>
                                Estudiante Ingenería en Computación<br>
                                jvsquez19@gmail.com<br>
                                _______________________________________<br>
                                <b>Coordinador</b><br>
                                Ing. Diego Rojas Vega<br>
                                _______________________________________<br>
                                <br><br><b>Hecho en San Carlos</b><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Atras</button>
                </div>
            </div>
        </div>
    </div>

    <!-- end new  message -->
    <div class="card" >
        <div class="header">
            <h2 >Mensajes</h2>
            <div class="header-dropdown m-r--5 ">
                <a class="btn-floating btn-sm " data-toggle="modal" data-target="#defaultModal" ng-click="resetFields()"><i class="material-icons" style="cursor:pointer">add</i></a>
            </div>
        </div>
        <ul class="list-group-custom" ng-repeat="message in messages">

            <li id="{{ idvalue }}" ng-init="idvalue=message.messageId" ng-mousedown="mouseDown(idvalue)" ng-mouseup="mouseUp(idvalue)" class=" info-box hover-expand-effect" style="cursor:pointer">

                <div class="icon ">
                    <i class="material-icons">forum</i>
                </div>
                <div class="content">
                    <div class="text font-bold" style="margin-top: 5px">{{message.title}}</div>
                    <small >
                        {{message.body}}
                        <br>
                        Publicacíon: {{message.publish}}
                    </small>
                </div>

            </li>

        </ul>
    </div>
    <!-- #END# Task Info -->
    <!-- Browser Usage -->
</div>
</div>