<div class="container-fluid">

    <!-- Widgets -->

    <!-- New message -->
    <div class="modal fade modal-margin" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content"  >
                <div class="modal-header bagTecBlue">
                    <h4 class=" whiteText" id="defaultModalLabel">Redactar mensaje</h4>
                </div>
                <div class="modal-body" >
                    <label for="titleMessage">Titulo</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input ng-model="message.title" type="text" id="titleMessage" class="form-control" placeholder="Titulo" required/>
                        </div>
                    </div>
                    <label for="bodyMessage">Mensaje</label>
                        <div class="form-group">
                        <div class="form-line">
                            <input ng-model="message.body" type="text" id="bodyMessage" class="form-control" placeholder="Digite su mensaje" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" ng-click="postMessage()">Enviar</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" ng-click="resetFields()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end new  message -->
    <div class="card" >
        <div class="header">
            <h2 >Mensajes</h2>
            <div class="header-dropdown m-r--5 ">
                <a class="btn-floating btn-sm " data-toggle="modal" data-target="#defaultModal" ng-click="resetFields()"><i class="material-icons" style="cursor:pointer">add</i></a>
            </div>
        </div>
        <ul class="list-group-custom" ng-repeat="message in messages">

            <li id="{{ idvalue }}" ng-init="idvalue=message.messageId" ng-mousedown="mouseDown(idvalue)" ng-mouseup="mouseUp(idvalue)" class=" info-box hover-expand-effect" style="cursor:pointer">

                <div class="icon ">
                    <i class="material-icons">forum</i>
                </div>
                <div class="content">
                    <div class="text font-bold" style="margin-top: 5px">{{message.title}}</div>
                    <small >
                        {{message.body}}
                        <br>
                        Publicacíon: {{message.publish}}
                    </small>
                </div>

            </li>

        </ul>
    </div>
    <!-- #END# Task Info -->
    <!-- Browser Usage -->
</div>
</div>