<div style="text-align: center; margin-bottom: 2%">
    <button type="button" class="btn btn-success waves-effect" style="right: 5%" ng-click="changeList('Accepted')">Aceptadas</button>
    <button type="button" class="btn btn-primary waves-effect" ng-click="changeList('Pending')">Pendientes</button>
    <button type="button" class="btn btn-danger waves-effect" style="left: 5%" ng-click="changeList('Denied')">Rechazadas</button>
</div>
<div class="row clearfix" >
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="reservation in reservationsMain">
        <div ng-init="idvalue=reservation.reservationId" ng-click="reserveSelected(idvalue)">
            <div class="info-box  hover-expand-effect">
                <div class="icon ">
                    <i class="material-icons">{{reservationstatus}}</i>
                </div>
                <div class="content">
                    <div class="texto">
                        Lugar : {{reservation.destinationPlace}}
                    </div>
                    <div class="text" >
                        Solicitante :{{reservation.requestingUser}}
                        <div alling="right">
                            Fecha :{{reservation.requestDateTime}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>