<div class="container-fluid">
    <div class="block-header">
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Crear Flotilla
                    </h2>
                    <div class="header-dropdown m-r--5 ">
                        <a class="btn-floating btn-sm " href="#/admin/fleetAdmin/"><i class="material-icons" style="cursor:pointer; color: white">arrow_back</i></a>
                    </div>
                </div>
                <div class="body">
                    <form ng-submit="postCar()">
                        <div class="row">
                            <div class="col-md-4">
                                <center>
                                    <img id="img" src="" align="center" width="250" height="200" class="imgPreviewS">
                                    <div id="imgAddIcon" class="material-icons">add_a_photo</div>

                                </center>
                                 <input id="file-upload"  type="file" formenctype="multipart/form-data"  class="imgInputS"/>
                            </div>
                            <div class="col-md-8">
                                <label for="brand">Marca</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input ng-model="newCar.brand" type="text" id="brand" class="form-control" placeholder="Ingrese la Marca" required/>
                                    </div>
                                </div>
                                <label for="model">Modelo</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input ng-model="newCar.model" type="text" id="model" class="form-control" placeholder="Ingrese el Modelo" required/>
                                    </div>
                                </div>
                                <label for="vehicleId">Placa</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input ng-model="newCar.vehicleId" type="text" id="vehicleId" class="form-control" placeholder="Ingrese la Placa" required/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <label for="traction">Transmisión</label>
                        <br>
                        <div class="col-sm-offset-0">
                            <select class="form-control show-tick" ng-model="newCar.traction" id="traction">
                                <option value=""></option>
                                <option value="1">Automatic</option>
                                <option value="0">Manual</option>
                            </select>
                        </div>
                        <br>
                        <label for="capacity">Capacidad</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  ng-model="newCar.capacity" type="number" id="capacity" class="form-control" placeholder="Ingrese la cantidad de Pasajeros" required/>
                            </div>
                        </div>
                        <label for="mileage">Kilometraje</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  ng-model="newCar.mileage" type="number" id="mileage" class="form-control" placeholder="Ingrese el Kilometraje" required/>
                            </div>
                        </div>
                        <label for="dependence">Dependencia</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  ng-model="newCar.dependence" type="text" id="dependence" class="form-control" placeholder="Ingrese la Dependencia" required/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- #END# Vertical Layout -->
</div>
