<div class="center col-xs-12 col-sm-12 col-md-10 col-md-offset-1  col-lg-10 col-lg-offset-1">
    <div class="card">
        <div class=" header">
            <div class="atrasStyle">
                <a class="btn-floating btn-sm " href="#/admin/fleetAdmin/"><i class="material-icons" style="cursor:pointer; color: white; float:left">arrow_back</i></a>
            </div>
            <h2 class="tituloStyle">Detalles del vehiculo</h2>

        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                    <img id="img" src="" align="center" width="250" height="200" class="imgInfoDisplay">
                    <tr>
                        <th>Dato</th>
                        <th>Información</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Marca</td>
                        <td><div class="hideInfo">{{carInfo.brand}}</div> <div class="ShowInfo"><input ng-model="newFleet.brand" type="text" id="brand" class="form-control" placeholder="Ingrese la Marca"></div></td>
                    </tr>
                    <tr>
                        <td>Modelo</td>
                        <td><div class="hideInfo">{{carInfo.model}}</div> <div class="ShowInfo"><input ng-model="newFleet.model" type="text" id="model" class="form-control" placeholder="Ingrese el Modelo"></div></td>
                    </tr>
                    <tr>
                        <td>Placa</td>
                        <td>{{carInfo.vehicleId}}</td>
                    </tr>
                    <tr>
                        <td>Transmisión</td>
                        <td><div class="hideInfo">{{carInfo.traction}}</div> <div class="ShowInfo"><input ng-model="newFleet.traction" type="text" id="traction" class="form-control" placeholder="Ingrese la Transmisión"></div></td>
                    </tr>
                    <tr>
                        <td>Disponibilidad</td>
                        <td><div class="hideInfo">{{isLockedSTR}}</div></td>
                    </tr>
                    <tr>
                        <td>Capacidad</td>
                        <td><div class="hideInfo">{{carInfo.capacity}}</div> <div class="ShowInfo"><input  ng-model="newFleet.capacity" type="number" id="capacity" class="form-control" placeholder="Ingrese la cantidad de Pasajeros"></div></td>
                    </tr>
                    <tr>
                        <td>Kilometraje</td>
                        <td><div class="hideInfo">{{carInfo.mileage}}</div> <div class="ShowInfo"><input  ng-model="newFleet.mileage" type="number" id="mileage" class="form-control" placeholder="Ingrese el Kilometraje"></div></td>
                    </tr>
                    <tr>
                        <td>Dependencia</td>
                        <td><div class="hideInfo">{{carInfo.dependence}}</div> <div class="ShowInfo"><input  ng-model="newFleet.dependence" type="text" id="dependence" class="form-control" placeholder="Ingrese la Dependencia"></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-success waves-effect" id="ShowBtnEditSave" ng-click="postFleet()">Guardar</button>
            <button type="button" class="btn btn-danger waves-effect" id="ShowBtnEditCancel" ng-click="cancelEditCar()">Cancelar</button>
        </div>
    </div>
    <button id="lockedBtn" type="button" class="btn btn-danger btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:22%; right: 2%" ng-click="lockCar()">
        <i class="material-icons">{{iconLock}}</i>
    </button>
    <button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:12%; right: 2%" ng-click="editCar()">
        <i class="material-icons">mode_edit</i>
    </button>
    <button type="button" class="btn bg-red btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:2%; right: 2%" ng-click="deleteMessage()">
        <i class="material-icons">delete</i>
    </button>
</div>

