<div class="container-fluid">
    <div class="block-header">
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Create Driver
                    </h2>
                </div>
                <div class="body">
                    <form ng-submit="saveUser()">
                        <label for="Identification">Identification</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.Identification" type="text" id="Identification" class="form-control" placeholder="Enter the Identification">
                            </div>
                        </div>
                        <label for="FirstName">FirstName</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.FirstName" type="text" id="FirstName" class="form-control" placeholder="Enter the FirstName">
                            </div>
                        </div>
                        <label for="LastName">LastName</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.LastName" type="text" id="LastName" class="form-control" placeholder="Enter the LastName">
                            </div>
                        </div>
                        <label for="Headquarter">Headquarter</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.Headquarter" type="text" id="Headquarter" class="form-control" placeholder="Enter the Headquarter">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect" ng-click="postDriver()">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Vertical Layout -->
</div>