<div class="container-fluid">
    <div class="block-header">
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Create Fleet
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <!--
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Editar</a></li>
                                <li><a href="javascript:void(0);">Eliminar</a></li>
                                <li><a href="javascript:void(0);">Detalles</a></li>
                            </ul>-->
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <form ng-submit="saveUser()">
                        <label for="make">Brand</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newCar.Brand" type="text" id="make" class="form-control" placeholder="Enter the make">
                            </div>
                        </div>
                        <label for="model">Model</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newCar.Model" type="text" id="model" class="form-control" placeholder="Enter the model">
                            </div>
                        </div>
                        <label for="plate">Plate</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newCar.CarID" type="text" id="plate" class="form-control" placeholder="Enter the plate">
                            </div>
                        </div>

                        <label for="transmission">Transmission</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newCar.Traction" type="text" id="transmission" class="form-control" placeholder="Enter the transmission">
                            </div>
                        </div>
                        <label for="passengers">Passengers</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  ng-model="newCar.Capacity" type="text" id="passengers" class="form-control" placeholder="Enter the passengers">
                            </div>
                        </div>
                        <label for="dependence">Dependence</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input  ng-model="newCar.Dependence" type="text" id="dependence" class="form-control" placeholder="Enter the dependence">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary m-t-15 waves-effect" ng-click="postCar()">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Vertical Layout -->
</div>