<div class="container-fluid">
    <div class="block-header">
        <h2>Actualizar Flotilla</h2>
    </div>

    <!-- Basic Card -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="fleet in fleetAdmin">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card " >
                    <div class="header">
                        <h2>
                            {{fleet.vehicleId}}
                        </h2>
                    </div>
                    <div class="body">
                        <form ng-submit="saveUser()">
                            <ul class="list">
                                <li class="card-title">
                                    <label for="name">Marca</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input ng-model="fleet.name" type="text" id="name" class="form-control" placeholder="{{user.name}}">
                                        </div>
                                    </div>
                                </li>
                                <li class="card-title">
                                    <label for="email">Modelo</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input ng-model="fleet.email" type="text" id="email" class="form-control" placeholder="{{user.email}}">
                                        </div>
                                    </div>
                                </li>
                                <li class="card-title">
                                    <label for="capacity">Capacidad</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input ng-model="fleet.capacity" type="text" id="capacity" class="form-control" placeholder="{{user.type}}">
                                        </div>
                                    </div>
                                </li>
                                <li class="card-title">

                                        <div class="form-line">
                                            <input type="submit"  class="btn-success" placeholder="actualizar">
                                        </div>
                                 </li>

                            </ul>
                        </form>

                    </div>
                </div>
            </div>
        </div>

</div>