<div class="container-fluid">
    <div class="block-header">
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Crear Chofer
                    </h2>
                </div>
                <div class="body">
                    <form ng-submit="saveDriver()">
                        <label for="identification">Identificación</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.identification" type="text" id="identification" class="form-control" placeholder="Ingrese la Identificación">
                            </div>
                        </div>
                        <label for="firstName">Primer Nombre</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.firstName" type="text" id="firstName" class="form-control" placeholder="Ingrese el Primer Nombre">
                            </div>
                        </div>
                        <label for="lastName">Apellidos</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.lastName" type="text" id="lastName" class="form-control" placeholder="Ingrese los Apellidos">
                            </div>
                        </div>
                        <label for="Headquarter">Sede</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input ng-model="newDriver.headquarter" type="text" id="headquarter" class="form-control" placeholder="Ingrese la Sede">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect" ng-click="postDriver()">Registrar</button>
                        <a class="btn btn-primary m-t-15 waves-effect" href="#/admin/driverAdmin/">Atras</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Vertical Layout -->
</div>