<div class="center col-xs-12 col-sm-12 col-md-10 col-md-offset-1  col-lg-10 col-lg-offset-1">
    <div class="card">
        <div class=" header">
            <h2>Detalles del chofer</h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Información</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Identificacion</td>
                        <td>{{driverInfo.identification}}</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td><div class="hideInfo">{{driverInfo.firstName}}</div><div class="ShowInfo"><input ng-model="newDriver.firstName" type="text" id="firstName" class="form-control" placeholder="Ingrese el nombre"></div></td>
                    </tr>
                    <tr>
                        <td>Apellido</td>
                        <td><div class="hideInfo">{{driverInfo.lastName}}</div><div class="ShowInfo"><input ng-model="newDriver.lastName" type="text" id="lastName" class="form-control" placeholder="Ingrese el apellido"></div></td>
                    </tr>
                    <tr>
                        <td>Sede</td>
                        <td>{{driverInfo.headquarter}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-success waves-effect" id="ShowBtnEditSave" ng-click="postDrier()">Guardar</button>
            <button type="button" class="btn btn-danger waves-effect" id="ShowBtnEditCancel" ng-click="cancelEditDriverBtn()">Cancelar</button>
        </div>
    </div>
    <a class="waves-effect waves-light btn" href="#/admin/driverAdmin/">Atras</a>
    <button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:12%; right: 2%" ng-click="editDriverBtn()">
        <i class="material-icons">mode_edit</i>
    </button>
    <button type="button" class="btn bg-red btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:2%; right: 2%" ng-click="deleteMessageDriver()">
        <i class="material-icons">delete</i>
    </button>
</div>