<div >
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="driver in driverAdmin">
        <div ng-init="idvalue=driver.identification" ng-click="driverSelected(idvalue)">
        <div class="info-box  hover-expand-effect">
            <div class="icon ">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="content">
                <div class="texto">
                    Nombre  : {{driver.firstName}} {{driver.lastName}}
                </div>
                <div class="text">
                    Identificación : {{driver.identification}}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<a class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float" style="position: fixed; bottom:2%; right: 2%" href="#/admin/driverAdmin/createDriver">
    <i class="material-icons">add</i>
</a>
